{
	"apiVersion": "v1",
	"kind": "Secret",
	"metadata": {
		"name": "db-secret"
	},
	"namespace": "{{ SERVICE_NAME }}",
	"data": {
		"username": "{{ item.user| b64encode }}",
		"password": "{{ item.pass | b64encode }}"
	}
}
